{% extends 'base.html.twig' %}

{% block title %}Dostava index{% endblock %}

{% block body %}
    <h1>Dostava index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dostava in dostavas %}
            <tr>
                <td>{{ dostava.id }}</td>
                <td>
                    <a href="{{ path('app_dostava_show', {'id': dostava.id}) }}">show</a>
                    <a href="{{ path('app_dostava_edit', {'id': dostava.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dostava_new') }}">Create new</a>
{% endblock %}
